.title-statement {
  font-family: Bitcount Grid Double, Arial;
  font-size: 50px;
  text-align: center;
}

.word-1 { color: #ff4000; }
.word-2 { color: #55ff00; }
.word-3 { color: #0080ff; }
.word-4 { color: #b700ff; }